{
  "extends": ["@imaginary-cloud/react"],
  "rules": {
    "no-unused-expressions": "off",
    "no-case-declarations": "off",
    "no-underscore-dangle": "off",
    "camelcase": "off",
    "no-plusplus": "off",
    "no-nested-ternary": "off",
    "eqeqeq": "warn",
    "no-unused-vars": "warn",
    "import/no-named-as-default-member": "warn",
    "import/order": "warn",
    "react/prop-types": "warn",
    "array-callback-return": "warn",
    "no-return-assign": "warn",
    "no-shadow": "warn",
    "no-param-reassign": "warn",
    "react/jsx-no-duplicate-props": "warn",
    "consistent-return": "warn",
    "jsx-a11y/no-static-element-interactions": "warn",
    "jsx-a11y/click-events-have-key-events": "warn",
    "jsx-a11y/alt-text": "warn",
    "jsx-a11y/img-redundant-alt": "warn",
    "jsx-a11y/label-has-associated-control": "warn",
    "prefer-destructuring": "warn",
    "react/no-unescaped-entities": "warn",
    "no-sequences": "warn",
    "no-await-in-loop": "warn",
    "object-shorthand": "warn",
    "arrow-body-style": "warn",
    "prefer-const": "warn",
    "spaced-comment": "warn",
    "no-lonely-if": "warn"
  },
  "parser": "babel-eslint"
}